<p id="notice"><%= notice %></p>

<h1>購入場所一覧</h1>

<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>購入場所</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @transfer_groups.each do |transfer_group| %>
        <tr>
          <td><%= transfer_group.place %></td>
          <td><%= link_to '詳細', transfer_group, class: "btn btn-success" %></td>
          <td><%= link_to '編集', edit_transfer_group_path(transfer_group), class: "btn btn-info" %></td>
          <td><%= link_to '削除', transfer_group, class: "btn btn-danger", method: :delete, data: { confirm: '本当に削除しますか？' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>




<br>

<%= link_to '購入場所を新しく作成する', new_transfer_group_path %>
